*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
*.ini
*.apk
app/release/output.json
app/src/main/res/drawable/.picasa.ini
app/src/main/res/drawable/.picasa.ini
